.card-left{
    height: 96.6%;

}
.srceen{
    background-color: #ccc;
    height: 30px;
    margin: 20px 0;
    border-radius: 10px;
    position: relative;
    color:#6c6c6c;
    text-align: center;
    line-height: 30px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}
.card-seat{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.seat-item  {
    position: relative; /* Đặt vị trí tương đối cho container */
    display: inline-block; /* Đảm bảo kích thước của container phù hợp với nội dung */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%;
  }

  .seat-item img {
    display: block; /* Đảm bảo hình ảnh được xử lý như một block element */
  }

  .seat-label {
    position: absolute; /* Đặt vị trí tuyệt đối cho phần tử */
    top: 40%; /* Căn giữa theo chiều dọc */
    left: 50%; /* Căn giữa theo chiều ngang */
    transform: translate(-50%, -50%); /* Đưa phần tử trở lại giữa chính xác */
    font-size: 9px; /* Kích thước của văn bản */
    /* Thêm các thuộc tính khác như padding, background-color nếu cần */
    color:#6c6c6c
  }
  .seat-row {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .layout-seat{
    overflow-x: auto;
    white-space: nowrap;
    align-content: center;
    text-align: center;
  }
  .resset-password{
    color:orangered;
    cursor: pointer;
  }
  .resset-password:hover{
    color:rgb(231, 2, 2)
  }
  .box-item {
    width: 35px;
    height: 35px;
  }


.box-item img {
    -webkit-user-drag: none; /* Ngăn người dùng kéo hình ảnh trong trình duyệt WebKit (Chrome, Safari) */
    -webkit-user-select: none; /* Ngăn người dùng chọn và sao chép hình ảnh trên trình duyệt WebKit (Chrome, Safari) */
    -moz-user-select: none; /* Ngăn người dùng chọn và sao chép hình ảnh trên Firefox */
    -ms-user-select: none; /* Ngăn người dùng chọn và sao chép hình ảnh trên trình duyệt Internet Explorer và Edge */
    user-select: none; /* Ngăn người dùng chọn và sao chép hình ảnh trên các trình duyệt hỗ trợ chuẩn */
}

.box-item {
    cursor: pointer; /* Hiển thị con trỏ dạng tay khi hover */
}
.light-orange {
    background-color: #fcf5e6;
    /* Màu cam nhạt */
}

.light-blue {
    background-color: #fcfdff;
    /* Màu xanh da trời nhạt */
}

.light-pink {
    background-color: #f9d0d0;
    /* Màu hồng nhạt */
}

