.row {
    display: flex;
    justify-content: center;

}

/* Container for the form */
.auth-container {
    margin-bottom: 30px;
    margin-top: 30px;
    background-size: cover;
}


.content {
    display: flex;
    justify-content: center;
    width: 550px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 8px;
}

.form-input{
    width: 60%;

}

.text-login{
    margin-bottom: 30px;
    font-weight: bold;
    text-align: center;
}


.input-container {
    margin-bottom: 20px;
}

.input-container input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.forgotpass button {
    display: block;
    margin: auto;
    width: 60%;
    padding: 10px;
    border: none;
    background-color: #28a745;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    margin-bottom: 10px;
}



