.image-movie-detail img {
    width: 100%;
    height: 100%;
}
.buttons {
    display: flex; /* Sắp xếp các nút nằm ngang */
    gap: 15px; /* Khoảng cách giữa các nút */

    margin-top: 20px; /* Khoảng cách phía trên */
  }

  .buttons button {
    padding: 12px 20px; /* Khoảng cách trong của nút */
    border: none; /* Xóa viền nút */
    border-radius: 5px; /* Bo tròn góc nút */
    font-size: 16px; /* Kích thước chữ */
    font-weight: bold; /* Chữ đậm */
    cursor: pointer; /* Con trỏ chuột khi hover */
    transition: background-color 0.3s ease; /* Hiệu ứng mượt khi hover */
  }

  .buy-ticket {
    background-color: #ff5733; /* Màu nền nút 'Mua Vé Ngay' */
    color: #fff; /* Màu chữ */
  }

  .buy-ticket:hover {
    background-color: #e74c3c; /* Màu nền khi hover nút 'Mua Vé Ngay' */
  }

  .watch-trailer {
    background-color: #3498db; /* Màu nền nút 'Xem Trailer' */
    color: #fff; /* Màu chữ */
  }

  .watch-trailer:hover {
    background-color: #2980b9; /* Màu nền khi hover nút 'Xem Trailer' */
  }

  

